<nav class="navbar bg-dark fixed-top">
  <div class="row col-12">
    <div class="col-10 col-md-11 col-lg-11 col-xl-11 d-flex align-items-center">
      <a class="navbar-brand" href="#">
        <img src="../assets/imagens/logo_p.jpg" alt="Kentec Soluções em Informatica" width="60">
      </a> AUTO MECÂNICA
      <div class="menu-barra">

      </div>
    </div>
  </div>
</nav>
<div style="margin-top: 120px;" class="container">
  <router-outlet/>
</div>
<footer class="py-3 bg-light fixed-bottom">
  <div class="small text-center text-muted bg-light">
    Desenvolvido com <i style="color: red;" class="fa fa-heart"></i> por:&nbsp;<span
      style="color: red; font-weight: bold;">KEN</span><span style="color:black; font-weight: bold;">TEC&nbsp; {{
      anoCorrente }}</span>
  </div>
</footer>
