<div class="col-12 col-md-12" id="home">
  <div>
    <h1 class="text-center">Bem-vindo à <img src="../assets/imagens/logo_p.jpg" alt="Kentec Soluções em Informatica" width="60" style="border-radius: 100px;"> Auto Mecânica</h1>
    <p class="text-center">Seu carro em boas mãos!</p>
    <p class="text-center">Oferecemos serviços de alta qualidade para manutenção e reparo do seu veículo.</p>
    <p class="text-center">Agende uma visita conosco e experimente nosso atendimento diferenciado!</p>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <img src="assets/imagens/motor.png" alt="RT Auto Mecânica" class="img-fluid tada" style="max-width: 350px;">
  </div>
</div>
<div class="servicos">
  <h2 class="text-center mt-5">Nossos Serviços</h2>
  <br>
  <div class="d-flex flex-nowrap" style="overflow: auto; height: 650px;">
    <div class="col-12 col-md-3">
      <div class="card card-sombra">
        <img class="card-img-top" src="assets/imagens/limpeza.png" style="max-width: 280px;"
          alt="RT auto Mecânica - Limpeza de Bicos">
        <div class="card-body" style="min-height: 270px;">
          <h5 class="card-title text-center">Limpeza de Bicos</h5>
          <p class="card-text text-center">Fazemos a limpeza completa dos bicos injetores do seu veículo, usando cuba
            ultrassônica e os devidos testes para conferir a estanquiedade, leque e equalização dos bicos injetores.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="card card-sombra">
        <img class="card-img-top" src="assets/imagens/scanner.png" style="max-width: 280px; margin-top: 32px;"
          alt="RT auto Mecânica - Injeção Eletrônica">
        <div class="card-body" style="margin-top: 30px; min-height: 270px;">
          <h5 class="card-title text-center">Injeção Eletrônica</h5>
          <p class="card-text text-center">Possuimos Scanners Automotivos de última geração para diagnóstico preciso, podendo identificar falhas e otimizar o desempenho do seu veículo, garantindo mais segurança e eficiência.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="card card-sombra">
        <img class="card-img-top" src="assets/imagens/suspensao_freios.png" style="max-width: 280px; margin-top: 95px;"
          alt="RT auto Mecânica - Suspensão e Freios">
        <div class="card-body" style="margin-top: 60px; min-height: 270px;">
          <h5 class="card-title text-center">Suspensão e Freios</h5>
          <p class="card-text text-center">Realizamos a manutenção e troca de componentes da suspensão e freios, garantindo a segurança e o conforto do seu veículo.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="card card-sombra">
        <img class="card-img-top" src="assets/imagens/oleo.png" style="max-width: 280px; margin-top: 35px;"
          alt="RT auto Mecânica - Troca de Óleo">
        <div class="card-body" style="margin-top: 25px; min-height: 270px;">
          <h5 class="card-title text-center">Troca de Óleo</h5>
          <p class="card-text text-center">Realizamos a troca de óleo do motor, transmissão e diferencial, garantindo o bom funcionamento e a durabilidade do seu veículo.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="card card-sombra">
        <img class="card-img-top" src="assets/imagens/retifica.png" style="max-width: 280px; margin-top: 67px;"
          alt="RT auto Mecânica - Retífica de Motores">
        <div class="card-body" style="margin-top: 45px; min-height: 270px;">
          <h5 class="card-title text-center">Retífica de Motores</h5>
          <p class="card-text text-center">Realizamos a retífica completa do seu motor, garantindo o seu perfeito funcionamento e durabilidade.</p>
        </div>
      </div>
    </div>
        <div class="col-12 col-md-3">
      <div class="card card-sombra">
        <img class="card-img-top" src="assets/imagens/motor_tsi.png" style="max-width: 280px; margin-top: 65px;"
          alt="RT auto Mecânica - Mecânica em Geral">
        <div class="card-body" style="margin-top: 73px; min-height: 270px;">
          <h5 class="card-title text-center">Mecânica em Geral</h5>
          <p class="card-text text-center">Realizamos serviços de mecânica em geral, garantindo a qualidade e a segurança do seu veículo.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="conheca">
  <h2 class="text-center mt-5">Conheça Nossa Equipe</h2>
  <br>
  <div class="col-12 col-md-12">
    <div class="row">
      <div class="col-12 col-md-3 mb-2">
        <img class="card-img-top membro" src="assets/imagens/tio_duardo.jpeg" style="max-width: 280px; margin-top: 0px;"
          alt="RT auto Mecânica - Tio Duardo">
      </div>
      <div class="col-12 col-md-9 text-justify">
        Nosso responsável técnico, tendo uma jornada com mais de 21 anos de experiência na profissão, foi atuante em várias empresas que lhe concederam
        uma vasta gama de Bagagem e vivência prática na área da mecânica automotiva, atuando praticamente em todos os seguimentos e campos da área automotiva veicular desta
        maneira possui profunda propriedade e certeza em seus diagnósticos ao analisar e verificar qualquer ocorrência que possa se apresentar em um veículo.
        Desde injeção eletrônica, direção, suspensão e freios, motores (inclusive diesel), transmissão manual e automática, e assim qual seja a inconsistência que o veículo
        esteja apresentando estará nas mãos do profissional certo. Em se falar de mecânica em geral o cara e o Mestre.
    </div>
  </div>
    <hr>
    <br>
  <div class="row">
    <div class="col-12 col-md-3 mb-2">
      <img class="card-img-top membro" src="assets/imagens/ken.jpeg" style="max-width: 280px; margin-top: 0px;"
        alt="RT auto Mecânica - Ken">
    </div>
    <div class="col-12 col-md-9 text-justify">
      Desde bem novo já se aventurava no mundo da mecânica automotiva, tendo praticamente a mecânica automotiva sendo uma profissão de família. Já mais velho com 19 anos resolveu a estudar
      de forma mais séria e entender conceitos mais técnicos e fazendo o curso de Técnico em Injeção Eletrônica ministrado na época pela Tecnomotor, desta maneira atuando em várias oficinas podendo tirar
      experiências ricas de cada situação que encontrava. Mesmo hoje sendo Analista e Desenvolvedor de Sistemas e especialista em IOT com foco em automação, volta ao universo da mecânica
      automotiva para unir o melhor destes dois mundos, podendo criar sistemas que auxiliam os clientes diariamente e ferramentas que dinamizem o trabalho de mecânicos unindo tecnologia e mecânica juntas.
    </div>
  </div>
  <hr>
  <br>
  <div class="row">
    <div class="col-12 col-md-3 mb-2">
      <img class="card-img-top membro" src="assets/imagens/xandin.jpeg" style="max-width: 280px; margin-top: 0px;"
        alt="RT auto Mecânica - Xandin">
    </div>
    <div class="col-12 col-md-9 text-justify">
      E o mais jovem da nossa equipe, mais que desde muito cedo já se interessava por carros e mecânica,
      bem provável que deve estar no sangue. Falando um pouco mais de seu conhecimento, pelo que se sabe e pela forma que atua profissionalmente
      dá para ver que o cara e um prodígio da mecânica! Pensa um rapaz tão novo, saber injeção eletrônica, motores, câmbios, suspensão,
      retifica de motores e tudo que e mais atual na mecânica automotiva, colocando muitos gurus da mecanica no bolso, como se diz o cara e o Bichão Mano!!! E além de tudo tem lindos olhos verdes uuuuuuui!
    </div>
  </div>
  <hr>
  <br>
</div>
<div class="contato" style="height: 800px;">
  <h2 class="text-center mt-5">Entre em Contato</h2><br>
  <p class="text-center">Estamos aqui para ajudar! Entre em contato conosco para agendar um serviço ou tirar suas dúvidas.</p>
  <div class="row d-flex justify-content-center col-12 col-md-12">
    <a href="https://www.instagram.com/roque_tomazete?igsh=OHZnb25zMWI5Y2w1" target="_blank" class="link"><i class="fab fa-instagram text-danger" style="font-size: 12pt; color: #000; margin-left: 10px;"></i>&nbsp;roque_tomazete</a>&nbsp;
    <a href="https://wa.me/5562984688222" style="margin-left: 7px; font-size: 12pt; color:#000;"><i class="fab fa-whatsapp text-success" style="font-size: 12pt;  margin-left: 1px;"></i> (62) 98468-8222</a>
    <a href="https://wa.me/5562992843086" style="margin-left: 7px; font-size: 12pt; color:#000;"><i class="fab fa-whatsapp text-success" style="font-size: 12pt;  margin-left: 1px;"></i> (62) 99284-3086</a>
  </div>
  <br>
  <h1 class="text-center">Nossa Localização</h1>
  <div class="row d-flex justify-content-center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14508.535554420929!2d-49.323006377276556!3d-16.71796365089684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935ef5eafa41958d%3A0x69ed06ab8fc74576!2sRT%20Auto%20Mec%C3%A2nica!5e1!3m2!1spt-BR!2sbr!4v1759003901343!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <hr>
</div>
